  //Usage:  圆角
  //Example @include rounded(10px)
  @mixin rounded($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
  }

  //Usage: 清除浮动
  //Example @include clearfix()
  @mixin clearfix {
    @if $legacy-support-for-ie {
      *zoom: 1;
    }

    &:before,
    &:after {
      content: "";
      display: table;
    }

    &:after {
      clear: both;
      overflow: hidden;
    }
  }

  //Usage: 不透明度opacity
  //Example @include opacity(20)
  @mixin opacity($opacity:50) {
    opacity: $opacity / 100;

    @if $filter {
      filter: alpha(opacity=$opacity);
    }
  }

  //Usage: 截取文本text-overflow ，$substract`单位为% 
  //Example @include singleline-ellipsis(20%)
  @mixin singleline-ellipsis($substract:0) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100% - $substract;
  }

  //Usage: 最小高度min-height
  //Example:  @include  min-height(100px)
  @mixin min-height($height) {
    min-height: $height;
    height: auto !important;

    @if $legacy-support-for-ie {
      _height: $height;
    }
  }

  //Usage:浏览器前缀
  //Example:@include css3(transition, 0.5s)
  @mixin css3($property, $value) {

    @each $prefix in -webkit-,
    -moz-,
    -ms-,
    -o-,
    '' {
      #{$prefix}#{$property}: $value;
    }
  }

  //Usage:Retina图片
  //Example:@include css3(transition, 0.5s)
  @mixin image-2x($image, $width, $height) {
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      /* on retina, use image that's scaled by 2 */
      background-image: url($image);
      background-size: $width $height;
    }
  }

  //Usage:隐藏文字
  //Example: @include hide-text;  
  @mixin hide-text {
    overflow: hidden;
    text-indent: -9000px;
    display: block;
  }

  //Usage: 正三角
  //Example: @include regulaTriangle(top,red);  
  @mixin regulaTriangle($derection:bottom, $color: #000, $width: 20px) {
    @extend %triangleBase;
    border-width: $width;

    //向右  
    @if $derection==right {
      border-style: dashed dashed dashed solid;
      border-color: transparent transparent transparent $color;
    }

    //向左  
    @if $derection==left {
      border-style: dashed solid dashed dashed;
      border-color: transparent $color transparent transparent;
    }

    //向上  
    @if $derection==top {
      border-style: dashed dashed solid dashed;
      border-color: transparent transparent $color transparent;
    }

    //向下  
    @if $derection==bottom {
      border-style: solid dashed dashed dashed;
      border-color: $color transparent transparent transparent;
    }
  }

  //Usage:直角三角形
  //Example：@include right-angledTriangle(1,red);  
  @mixin right-angledTriangle ($derection:1, $color:#000, $width: 20px, $opacity:transparent, $border:dashed) {
    @extend %triangleBase;
    border-width: $width;

    //向右  
    @if $derection==1 {
      border-style: $border dashed dashed $border;
      border-color: $color $opacity $opacity $color;
    }

    //向右  
    @if $derection==2 {
      border-style: $border $border dashed dashed;
      border-color: $color $color $opacity $opacity;
    }

    //向右  
    @if $derection==3 {
      border-style: dashed $border $border dashed;
      border-color: $opacity $color $color $opacity;
    }

    //向右  
    @if $derection==4 {
      border-style: dashed dashed $border $border;
      border-color: $opacity $opacity $color $color;
    }
  }

  //Usage:动画keyframes生成
  //Example： @include keyframes(动画名称)
  @mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
      @content;
    }

    @-moz-keyframes #{$animationName} {
      @content;
    }

    @-o-keyframes #{$animationName} {
      @content;
    }

    @keyframes #{$animationName} {
      @content;
    }
  }