
// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
@mixin sprite-a1 {
    background-position: 0px -575px;
}

@mixin sprite-a10 {
    background-position: -606px 0px;
}

@mixin sprite-a10s {
    background-position: -302px -575px;
}

@mixin sprite-a1s {
    background-position: -604px -575px;
}

@mixin sprite-a2 {
    background-position: -302px -460px;
}

@mixin sprite-a2s {
    background-position: -606px -460px;
}

@mixin sprite-a3 {
    background-position: 0px 0px;
}

@mixin sprite-a3s {
    background-position: 0px -115px;
}

@mixin sprite-a4 {
    background-position: -303px 0px;
}

@mixin sprite-a4s {
    background-position: -303px -115px;
}

@mixin sprite-a5 {
    background-position: 0px -460px;
}

@mixin sprite-a5s {
    background-position: -606px -115px;
}

@mixin sprite-a6 {
    background-position: -606px -230px;
}

@mixin sprite-a6s {
    background-position: -606px -345px;
}

@mixin sprite-a7 {
    background-position: 0px -230px;
}

@mixin sprite-a7s {
    background-position: -303px -230px;
}

@mixin sprite-a8 {
    background-position: 0px -345px;
}

@mixin sprite-a8s {
    background-position: -303px -345px;
}

@mixin sprite-a9 {
    background-position: 0px -690px;
}

@mixin sprite-a9s {
    background-position: -302px -690px;
}

.sprite {
    background-image: url('../imgs/sprite.png');
    background-repeat: no-repeat;
    background-size: 898px 795px;
}


