.icon-a5:before {
        display: inline-block;
        background-image: url(sprite.png);
        background-position: 0px 0px;
        width: 200px;
        height: 200px;
    }
.icon-a6:before {
        display: inline-block;
        background-image: url(sprite.png);
        background-position: -210px 0px;
        width: 200px;
        height: 200px;
    }
.icon-a7:before {
        display: inline-block;
        background-image: url(sprite.png);
        background-position: 0px -210px;
        width: 200px;
        height: 200px;
    }
