@import './base/mixin';


#container {
  // @include bg-
  position: relative;

  &::after {
    @include right-triangle(top);
    content: '';
    position: absolute;
  }

  .list {
    width: 3.75rem;
    background: #f6f6f6;

    .item {
      background: red;
    }
  }
}