<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gulp Demo</title>
    <!--build:css css/styles.min.css-->
    <link rel="stylesheet" href="../assets/css/example1.css">
    <link rel="stylesheet" href="../assets/css/example2.css">
    <!--endbuild-->
</head>

<body>
    <section class="print">
        这个是demo2
    </section>
    <section class="testing sprite">
        这个是demo23234234234
    </section>

    <!--build:js js/main.min.js -->
    <script src="../assets/js/lib/another-library.js"></script>
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/lib/a-library.js"></script>
    <!-- endbuild -->
</body>

</html>